body{
    background-color: rgb(44, 71, 112);
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 340px 250px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "logo login"
    "logo sign"
    "logo sign";
    margin: 100px auto 0 auto;
    border: solid 4px rgb(5, 26, 56);
    gap:10px;
    color: black;
    border-radius: 8px;
    overflow: hidden;
}

#notification-box{
    width: 600px;
    margin: auto;
}

.logo-container{
    width: 100%;
    height: 100%;
    grid-area: logo;
    background-color: rgb(76, 103, 140);
}

.login-container{
    width: 100%;
    height: 100%;
    grid-area: login;
    background-color: rgb(76, 103, 140);
    border-radius: 0 8px;
}
#forgot-pw{
    margin:10px;
}

.signup-container{
    width: 100%;
    height: 100%;
    grid-area: sign;
    background-color: rgb(76, 103, 140);
    border-radius: 8px 0;
}

.signup-container h4{
    margin: 10px 4px;
    text-align: center;
}

.main-container form div{
    margin: 2px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.main-container form{
    display: flex;
    flex-direction: column;
    padding: 0 4px;
    font-weight: bold;
}

.main-container form input{
    width: 60%;
    height: 14px;
    background-color: rgb(117, 138, 168);
    border: 2px solid rgb(5, 26, 56);
    border-radius: 4px;
}

.main-container form select{
    background-color: rgb(117, 138, 168);
}

.main-container form input[type="submit"]{
    background-color: rgb(117, 138, 168);
    height: 22px;
    border-radius: 4px;
}

/* PROFILE VIEW */


/* Menu choices */
.panel-container{
    width: 600px;
    margin:auto;
}

.panel-choices{
    width: 100%;
    border: solid 2px white;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.panel-choice{
    width: 33%;
    border: solid 1px white;
    text-align: center;
    padding: 10px 0;
    color:aquamarine;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
}

.panel-choice:hover{
    background-color: rgb(76, 103, 140);
    
}

.panel-choice:active{
    background-color: orange;
}

#browsetab{
    display: none;
}

#accounttab{
    display: none;
}

.message-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 4px;
    flex-wrap: wrap;
    background-color: bisque;
}

.message-container div{
    padding: 5px;
}

.message-content{
    padding:4px;
    overflow-wrap: break-word;
    inline-size: 100%;
}

#personal-info-container{
    display: flex;
}

.info-container{
    padding: 4px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    font-size: 20px; 
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    background-color:  rgb(20, 47, 84);
}
.info-container h4{
    flex: 100%;
    color:wheat;
    margin:0 0 3px 0;
}
.info-container div{
    flex: 49%;
    color: white;
}

div.tab-content{
    padding: 4px;
    border: 2px solid white;
    border-top: none;
    background-color: rgb(76, 103, 140);
}

#accounttab h3{
    margin: 8px 0;
}

#accounttab form{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#accounttab form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
}

.message-form-container textarea{
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

.message-form-container div{
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.message-form-container button{
    width: 40%;
}


#user-message-wall{
    padding: 4px;
    display: none;
}
#browsetab-message-wall{
    display:none;
}

.general-button{
    color: white;
    background: rgb(20, 47, 84);
    padding: 8px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.general-button:hover{
    background: rgb(44, 71, 112);
}

.reset-container{
    width: 600px;
    height:100px;
    border-radius: 10px;
    margin: 100px auto 0 auto;
    border: solid 2px white;
    background-color: orange;
    padding:25px;
}

.reset-container div{
    text-align: center;
}